<div class="container">
    <form>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Uuid</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="id" placeholder="Uuid" ng-disabled="true"
                       ng-model="employee.id">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" placeholder="Name" ng-disabled="isEditable"
                       ng-model="employee.name">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="email" placeholder="Email" ng-disabled="isEditable"
                       ng-model="employee.email">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="address" placeholder="Address" ng-disabled="isEditable"
                       ng-model="employee.address">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Phone</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="phone" placeholder="Phone" ng-disabled="isEditable"
                       ng-model="employee.phone">
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
                <button class="btn btn-primary" ng-if="!isEditable" ng-click="save(employee)">Submit</button>
                <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>