<!-- home.html -->

<div class="container">

    <p><a href="#add" class="btn btn-primary">Add New Employee</a></p>

    <br><br>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>UUID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="emp in employeeList">
            <td>{{emp.id}}</td>
            <td>{{emp.name}}</td>
            <td>{{emp.email}}</td>
            <td>{{emp.address}}</td>
            <td>{{emp.phone}}</td>
            <td>
                <a data-ng-click="view(emp)" href="javascript:;">View</a> |
                <a data-ng-click="edit(emp)" href="javascript:;">Edit</a> |
                <a data-ng-click="delete(emp)" href="javascript:;">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

